<html>
<head>
    <title>Buglink Admin</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.episerver.buglink.buglink:buglink-admin-resources")
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
</head>
<body>
<form id="admin" class="aui">
    <div class="field-group">
        <label for="regex">Regular expression:</label>
        <input type="text" id="regex" name="regex" class="text"></input>
    </div>
    <div class="field-group">
        <label for="urlTemplate">URL template:</label>
        <input type="text" id="urlTemplate" name="urlTemplate" class="text"></input>
    </div>
    <div class="field-group">
        <input type="submit" value="$i18n.getText("buglink.admin.save.label")" class="button">
    </div>
</form>
</body>
</html>